/* ELEMENTS */

body {
  background-color: purple;
  margin: 0
}

/* HEADER */

.header {
  background-image: url("img/hearts.png");
  background-size: 100%;
  height: 40rem;
}

.abigail-img {
  display: block;
  width: 30rem;
  height: 30rem;
  margin: auto;
  padding-top: 4.7rem;
}

.tiara-img {
  width: 14rem;
  height: 8rem;
  position: absolute;
  left: 45rem;
  bottom: 40rem;
}

.bigheart-img {
  width: 41rem;
  height: 41rem;
  position: absolute;
  left: 39rem;
  bottom: 16rem;
}

/* CENTER */

.center {
  padding: 5rem;
  text-align: center;
}

.contact-button {
  background-color: pink;
  border-style: outset;
  margin-top: 2rem;
}

/* FOOTER */
